<main class="game-interface">
    <div class="character-and-enemy-container">
        <div class="character-container">
            <img src="{{class.Image}}" alt="Class Image"
                class="character-image">
            <h2>{{character.name}}</h2>
            <p id="character-healthpoints" class="healthpoints">{{character.name}}'s HP: {{game.character_current_hp}}</p>
        </div>
        <div class="enemies-container">
            <img src="{{enemy.Image}}" alt="Enemy Image" class="Enemy-image">
            <h2>{{enemy.name}}</h2>
            <p id="enemy-healthpoints" class="healthpoints">{{enemy.name}}'s' HP: {{game.enemy_current_hp}}</p>
        </div>
    </div>
    <div class="card-container" id="card-container">
        {{#each cards as |card|}}
        <div class="card" id="{{card.id}}">
            <h3>{{card.name}}</h3>
            <p>Damage: {{card.damage}}</p>
            <p>Dodge: {{card.dodge}}</p>
        </div>
        {{/each}}
    </div>

    <div>{{game.game_message}}</div>

    <script src="/scripts/index.js"></script>

    <script>        
        debugger

        const remainingCharacterHealth = document.getElementById('character-healthpoints').textContent.split(': ')[document.getElementById('character-healthpoints').textContent.split(': ').length - 1]
        const remainingEnemyHealth = document.getElementById('enemy-healthpoints').textContent.split(': ')[document.getElementById('enemy-healthpoints').textContent.split(': ').length - 1]
        
        if (parseInt(remainingEnemyHealth, 10) <= 0) {
            window.location.href = '/public/win.html'
        } else if (parseInt(remainingCharacterHealth, 10) <= 0) {
            window.location.href = '/public/dead.html'
        } 

        // Add event listener for form submission
        const handCards = document.getElementById('card-container');
        handCards.addEventListener('click', async function (event) {
            const gameId = window.location.pathname.split('/')[location.pathname.split('/').length - 1];

            event.preventDefault(); // Prevent default form submission behavior
            let chosenCard = event.target.parentElement
            
            if (chosenCard.classList.contains('card')) {
                let cardId = chosenCard.id;
                chosenCard = chosenCard.children
                
                const playedCardData = {
                    id: cardId,
                    name: chosenCard[0].textContent,
                    damage: chosenCard[1].textContent.split(": ")[1],
                    dodge: chosenCard[2].textContent.split(": ")[1]
                }

                const response = await fetch(`/api/game/${gameId}/attack`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(playedCardData)
                }).then(() => {
                    localStorage.setItem('gameId', gameId);
                }).catch((err) => {
                    console.error('something broke when trying to attack', err.message)
                })
            }
        })
    </script>

</main>
