<main>
    <h1>Choose Your Gnome Class</h1>
    <div class="gnome-classes-container">
        {{#each gnomes as |gnome|}}
            <button class="choose-class-button"
                onclick="location.href='/api/game/loading/?class_id={{gnome.id}}'">
                <div class="gnome-class-card">
                    <img src="{{gnome.Image}}" alt="{{gnome.class_name}}"
                        class="gnome-class-image">
                    <h2 class="gnome-class-name">{{gnome.class_name}}</h2>
                    <div class="gnome-class-attributes">
                        <p><strong>Max HP:</strong> {{gnome.MaxHP}}</p>
                        <p><strong>Strength:</strong> {{gnome.Strength}}</p>
                        <p><strong>Agility:</strong> {{gnome.Agility}}</p>
                        <p><strong>Type:</strong> {{gnome.Type}}</p>
                    </div>
                </div>
            </button>
        {{/each}}
    </div>
</main>

 <script>
        const gameId = localStorage.getItem('gameId');
        if (gameId) { location.href = `/game/${gameId}` }
    </script>