<main>
    <h1>Your Character</h1>
    <div>
        {{!-- This should pull data from the "Character" model and display all of the relevant stats (--}}
        {{!-- This will also need to pull in data from "Gnome" model for the image of the character --}}
        {{!-- Lastly, on the bottom of the page it should display a row of 8 cards (#each loops to loop through the "Hand" model) --}}
        <div class="character-card">
            <img src="{{Gnome.Image}}" alt="{{gnome.class_name}}" class="gnome-class-image">
            <h2 class="gnome-class-name">{{gnome.class_name}}</h2>
            <div class="gnome-class-attributes">
                <p>Max HP: {{Character.MaxHP}}</p>
                <p>Strength: {{Character.Strength}}</p>
                <p>Agility: {{Character.Agility}}</p>
            </div>
        </div>
    </main>