{{!-- <main>
    <h1>Your Character</h1>
    <div class="character-container">
        <!-- Character Stats -->
        <div class="character-card">
            <img src="{{Gnome.dataValues.Image}}" alt="{{Gnome.dataValues.class_name}}" class="character-image">
            <h2 class="character-name">{{Gnome.dataValues.class_name}}</h2>
            <div class="character-attributes">
                <p>Max HP: {{Gnome.dataValues.MaxHP}}</p>
                <p>Strength: {{Gnome.dataValues.Strength}}</p>
                <p>Agility: {{Gnome.dataValues.Agility}}</p>
                <p>Type: {{Gnome.dataValues.type}}</p>
            </div>
        </div>
    </div>
    <!-- Display the character name -->
    <div class="character-name-container">
        <h2>Character Name:</h2>
        <p>{{characterName}}</p>
    </div>
</main> --}}
