<main>
    <h1>Your Character</h1>
    <div class="character-container">
        <!-- Character Stats -->
        <div class="character-card">
            <img src="{{Character.Gnome.Image}}" alt="{{Character.Gnome.class_name}}" class="character-image">
            <h2 class="character-name">{{Character.Gnome.class_name}}</h2>
            <div class="character-attributes">
                <p>Max HP: {{Character.MaxHP}}</p>
                <p>Strength: {{Character.Strength}}</p>
                <p>Agility: {{Character.Agility}}</p>
                <p>Type: {{Character.type}}</p>
            </div>
        </div>
        <!-- Character Hand -->
        <div class="hand-cards-container">
            {{#each Character.Hand as |card|}}
                <div class="card">
                    <img src="{{card.Image}}" alt="{{card.Name}}" class="card-image">
                    <div class="card-details">
                        <p class="card-name">Name: {{card.Name}}</p>
                        <p class="card-damage">Damage: {{card.Damage}}</p>
                        <p class="card-dodge">Dodge: {{card.Dodge}}</p>
           
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>
